# ============================================================
# Editors & IDEs
# ============================================================
# VS Code
.vscode/
*.code-workspace

# ============================================================
# Documentation & subject
# ============================================================
*.pdf
*.md
!README.md
.docs/

# ============================================================
# Logs & temp
# ============================================================
logs/
*.log
tmp/
temp/
.tmp/

# ============================================================
# Compilation
# ============================================================
.object/
*/.object/
executable/
*.a
libasm_tester
test.cpp
numcpp

# ============================================================
# Data
# ============================================================
/data/*
!/data/example.csv


# ============================================================
# Misc
# ============================================================
vgcore*